.flip-card {
  perspective: 1000px;
  background: transparent;
}

.flip-card-inner {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: transform 0.3s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(0.5turn);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(0.5turn);
}
